
ckpt1/*
ckpt2/*
MNIST_data/*

TF/ckpt2/checkpoint

.idea/workspace.xml

TF/ckpt2/model2.ckpt.data-00000-of-00001

TF/ckpt2/model2.ckpt.index

TF/ckpt2/model2.ckpt.meta

TF/MNIST_data/train-images-idx3-ubyte.gz

TF/MNIST_data/train-images-idx3-ubyte.gz

TF/MNIST_data/train-labels-idx1-ubyte.gz
